{% extends "master.j2" %}
{% block title %}Ensuro | About Us{% endblock title %}
{% block main_content %}
<article class="container-padded text-center">
	<hr class="h-12 xl:h-24 border-none">
	<b class="soft-subtitle">OUR PURPOSE</b>
	<hr class="h-8 xl:h-16 border-none">
	<h1 class="font-size-48 xs:font-size-24 breather-title mx-auto block">
		Democratize insurance and facilitate insurance innovation<span class="text-secondary-500">_</span>
	</h1>
	<hr class="h-12 xl:h-24 border-none">
</article>

<article class="bg-gradient-to-r from-primary-800 to-primary-500">
	<hr class="h-12 xl:h-24 border-none">
	<div class="grid grid-cols-1 md:grid-cols-7 container-padded gap-9 mt-[2.5rem] w-[90vw]">
		<section class="text-center col-span-3">
			<h2 class="title-md-white mx-auto">
				Our Vision<span class="text-secondary-500">_</span>
			</h2>
			<hr class="h-8 xl:h-16 border-none">
			<p class="font-size-26 xs:font-size-18 text-regular-white">
				Our vision is to create a simple entry point to insurance investment for
				individual investors and a more efficient alternative to traditional
				(re)insurance companies for risk takers seeking capacity.
			</p>
		</section>
        <span class="col-span-1"></span>
		<section class="text-center col-span-3">
			<h2 class="title-md-white mx-auto">
				Our Mission<span class="text-secondary-500">_</span>
			</h2>
			<hr class="h-8 xl:h-16 border-none">
			<p class="font-size-26 xs:font-size-18 text-regular-white">
				Our mission is to make insurance more accessible to the general public. 
				<br class="hidden md:block">
				We use smart contracts to curate competitive insurance portfolios. We allow anyone to invest in insurance risk and reap its benefits.
			</p>
		</section>
	</div>
	<hr class="h-12 xl:h-24 border-none">
</article>

<article>
	<hr class="h-12 xl:h-24 border-none">
	<header class="container-padded">
		<h2 class="title-md xs:text-center">
			Meet Ensuro's Team<span class="text-secondary-500">_</span>
		</h2>
		<hr class="h-5 xl:h-12 border-none">
	</header>
	<div class="w-[90vw] mx-auto">
		<hr class="w-full border-t border-gray-200 h-1">
		<hr class="h-5 xl:h-12 border-none">
		<br class="only-mobile" >
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 container-padded gap-28 mt-[2.5rem] w-[90vw]">

		{% for t in team %}
		<section class="team-card">
			<header class="flex relative items-center">
				<img src={{t.photo}} alt="" />
				<h3 class="title-sm pt-0 pr-5">{{t.role}}</h3>
			</header>
			<hr class="h-2 border-none">
			<div class="content px-10">
				<b class="team-name">{{t.name}}</b>
				<hr class="h-2 border-none">
				<p class="team-content">
					{{t.description}}
				</p>
				<br />
			</div>
		</section>
		{% endfor %}
	</div>
	<hr class="h-12 xl:h-24 border-none">
</article>

<article>
	<hr class="h-12 xl:h-24 border-none">
	<header class="container-padded">
		<h2 class="title-md xs:text-center">
			Meet Our Advisors<span class="text-secondary-500">_</span>
		</h2>
		<hr class="h-5 xl:h-12 border-none">
	</header>
	<div class="w-[90vw] mx-auto">
		<hr class="w-full border-t border-gray-200 h-1">
		<hr class="h-5 xl:h-12 border-none">
		<br class="only-mobile" >
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 container-padded gap-28 mt-[2.5rem] w-[90vw]">
		{% for a in advisors %}
		<section class="team-card">
			<header class="flex relative items-center">
				<img src={{a.photo}} alt="" />
				<h3 class="title-sm pt-0 pr-5">{{a.role}}</h3>
			</header>
			<hr class="h-2 border-none">
			<div class="content px-10">
				<b class="team-name">{{a.name}}</b>
				<hr class="h-2 border-none">
				<p class="team-content">
					{{a.description}}
				</p>
				<br />
			</div>
		</section>
		{% endfor %}
	</div>
	<hr class="h-12 xl:h-24 border-none">
</article>
{% endblock main_content %}
