{% extends "master.j2" %}
      {% block main_content %}
      <!-- Hero Start  -->
      <div  class="hero-section half-section">
         <div class="hero-section-image">
            <div class="container">
               <div class="hero-inner d-flex justify-content-between align-items-center flex-wrap">
                  <div class="hero-data col-lg-12 col-md-12     animated" data-animation="fadeInDownC" data-animation-delay="200">
                     <h1 class="hero-top">
                        Careers
                     </h1>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="section">
         <div class="container">

            <!--Blog-inner Start-->
            <div class="blog-inner">
               <div class="row ">

                  <div class="col-lg-6 col-md-12 blog-res blog-res1      animated" data-animation="fadeInDownC" data-animation-delay="900">
                     <div class="i-box">
                        <div class="i-text-head">
                           Want To Work With Us?
                        </div>
                        <p>
                          If you find the project exciting and you think you can contribute, contact us at info@ensuro.co
                        </p>
                     </div>
                     <div class="con-all">
                        <a href="mailto:info@ensuro.co" class="con-btn">Contact Us</a>
                     </div>
                  </div>
               </div>
               <!--Row End-->
            </div>
            <!--Blog-inner Start-->
         </div>
      </div>
      {% endblock main_content %}
