{% extends "master.j2" %}
{% block title %}Ensuro | Careers{% endblock title %}
{% block main_content %}
	<article class="bg-gradient-to-b from-primary-800 to-primary-500">
		<div class="container-padded">
			<hr class="h-32 xl:h-44 border-none">
			<section class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
				<div>
					<h2 class="title-md">
						<img src="./assets/careers_join.svg" alt="Join the Ensuro adventure" />
					</h2>
					<hr class="h-8 xl:h-16 border-none">
					<p class="text-regular-white">
						We use smart contracts to curate competitive insurance portfolios. We
						allow anyone to invest in insurance risk and reap its benefits. By
						opening up the insurance market to new players, we fuel innovation for
						established and upcoming insurance partners.
					</p>
					<br >
				</div>
				<img src="./assets/careers_join_2.svg" class="ml-auto" />
			</section>
			<hr class="h-32 xl:h-44 border-none">
			<section class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
				<div class="only-desktop">
					<img src="./assets/careers_archieve.png" alt="" />
				</div>
				<div>
					<h2 class="title-md text-right">
						<img src="./assets/careers_archieve.svg" class="ml-auto" alt="Achieve big things and have fun doing it" />
					</h2>
					<hr class="h-8 xl:h-16 border-none">
					<p class="text-regular-white text-right">
						We’re a fully remote global team, we believe in working hard and
						playing hard, but most importantly, we share a passion for making
						insurance more accessible to the general public. We want to
						Democratize insurance and facilitate insurance innovation.
					</p>
				</div>
			</section>
			<hr class="h-32 xl:h-44 border-none">
		</div>
	</article>

	<div class="bg-gradient-to-br from-[#f5f3f3] to-white">
		<article>
			<hr class="h-12 xl:h-24 border-none">
			<b class="soft-subtitle text-center block">THE TEAM</b>
			<hr class="h-8 xl:h-16 border-none">
				<header class="container-padded">
					<h2 class="title-md xs:text-center">
						What is Ensuro team like?<span class="text-secondary-500">_</span>
					</h2>
					<hr class="h-5 xl:h-12 border-none">
				</header>
			<div class="w-[90vw] mx-auto">
				<hr class="w-full border-t border-gray-200 h-1">
				<hr class="h-5 xl:h-12 border-none">
			</div>
			<section class="container-padded">
				<p class="text-regular xs:text-center">
					Ensuro team members are passionate, curious, hard-working, team-players,
					with a growth mindset. We are not afraid to challenge the status quo to
					develop great products for the insurance and DeFi ecosystem. We value
					independence and the freedom to explore our full potential by empowering
					and creating more value for our partners and customers.
					<br >
					<br >
					We work remotely, but we always work together. <br >
					We have a team distributed all over the
					world, and our staff has a variety of backgrounds. We also have a global DNA!
				</p>
				<br />
				<br />
				<hr class="h-8 xl:h-16 border-none">
				<img src="./assets/careers_map_2.svg" alt="" class="w-full" />
			</section>
			<hr class="h-32 xl:h-44 border-none">

			<div class="grid grid-cols-1 md:grid-cols-2 gap-x-16 gap-y-20 container-padded">
				<section class="careers-card">
					<div class="relative flex justify-between">
						<img src="./assets/quote_pink_icon.svg" alt="" class="relative" />
						<img
							class="relative top-[-2rem]"
							src="./assets/careers_nico.png"
							alt=""
						/>
					</div>
					<div class="px-6 text-right">
						<h3 class="title-sm mr-4">Nicolás / Full Stack Software Developer</h3>
						<hr class="h-2 border-none">
						<hr class="h-2 border-none">
						<p class="text-alt">
							It is a different but very good experience. You can meet different
							people and cultures. You can also manage your work schedule.
						</p>
					</div>
					<br />
				</section>
				<section class="careers-card">
					<div class="relative flex justify-between">
						<img src="./assets/quote_pink_icon.svg" alt="" class="relative" />
						<img
							class="relative top-[-2rem]"
							src="./assets/careers_colin.png"
							alt=""
						/>
					</div>
					<div class="px-6 text-right">
						<h3 class="title-sm mr-4">Colin McQueen / Chief Financial Officer</h3>
						<hr class="h-2 border-none">
						<hr class="h-2 border-none">
						<p class="text-alt">
							I enjoy many things about working here, but probably working with highly motivated, smart, genuine people is the best.
						</p>
					</div>
					<br />
				</section>
				<section class="careers-card">
					<div class="relative flex justify-between">
						<img src="./assets/quote_pink_icon.svg" alt="" class="relative" />
						<img
							class="relative top-[-2rem]"
							src="./assets/careers_jaliah.png"
							alt=""
						/>
					</div>
					<div class="px-6 text-right">
						<h3 class="title-sm mr-4">Jaliah Nassanga / Chief Compliance Officer</h3>
						<hr class="h-2 border-none">
						<hr class="h-2 border-none">
						<p class="text-alt">
							The diverse team bringing together individual strengths with much respect for each other. I feel part of such a great team building something great.  
						</p>
					</div>
					<br />
				</section>
				<section class="careers-card">
					<div class="relative flex justify-between">
						<img src="./assets/quote_pink_icon.svg" alt="" class="relative" />
						<img
							class="relative top-[-2rem]"
							src="./assets/careers_guillo.png"
							alt=""
						/>
					</div>
					<div class="px-6 text-right">
						<h3 class="title-sm mr-4">Guillo Narvaja / CTO</h3>
						<hr class="h-2 border-none">
						<hr class="h-2 border-none">
						<p class="text-alt">
							As an industry, decentralized finance is in its early stage, the opportunities are huge and there's everything to be made. We have built an amazing team, laser-focused on delivering a great product. We are all aligned with the same goal, helping each other when needed and learning and having fun in the process.  
						</p>
					</div>
					<br />
				</section>
			</div>
		</article>
 
		<article>
			<hr class="h-12 xl:h-24 border-none">
			<b class="soft-subtitle text-center block">OUR VALUES</b>
			<hr class="h-8 xl:h-16 border-none">
			<header class="container-padded">
				<h2 class="title-md xs:text-center">
					United by our values<span class="text-secondary-500">_</span>
				</h2>
				<hr class="h-5 xl:h-12 border-none">
			</header>
			<div class="w-[90vw] mx-auto">
				<hr class="w-full border-t border-gray-200 h-1">
				<hr class="h-12 xl:h-24 border-none">
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-20 container-padded">
				<section>
					<header class="flex items-center">
						<img src="./assets/careers_listen.svg" alt="" class="mr-9" />
						<h3 class="title-xsm-gray bg-secondary-500 px-4 py-1 inline">
							We always listen
						</h3>
					</header>
					<hr class="h-5 xl:h-12 border-none">
					<p class="text-regular xs:text-center">
						We strive to exercise empathy to understand and approach the desires,
						needs, difficulties and work of those who trust in our proposal. We know
						that listening is the essential basis for achieving relevance.
					</p>
				</section>
				<section>
					<header class="flex items-center">
						<img src="./assets/careers_left.svg" alt="" class="mr-9" />
						<h3 class="title-xsm-gray bg-[#A8CDF6] px-4 py-1 inline">
							No one is left out
						</h3>
					</header>
					<hr class="h-5 xl:h-12 border-none">
					<p class="text-regular xs:text-center">
						We are based on merits and achievements and give everyone equal
						opportunities.
					</p>
				</section>
				<section>
					<header class="flex items-center">
						<img src="./assets/careers_dna.svg" alt="" class="mr-9" />
						<h3 class="title-xsm-gray bg-brand-pink-500 px-4 py-1 inline">
							Creative DNA has no hierarchies.
						</h3>
					</header>
					<hr class="h-5 xl:h-12 border-none">
					<p class="text-regular xs:text-center">
						We believe in the power of each person to do great things. We know that
						the best ideas come from the synergy achieved through teamwork. We
						promote and create spaces for the individual development of each person
						we work with.
					</p>
				</section>
				<section>
					<header class="flex items-center">
						<img src="./assets/careers_dream.svg" alt="" class="mr-9" />
						<h3 class="title-xsm-gray bg-brand-pink-500 px-4 py-1 inline">
							We dream and we create
						</h3>
					</header>
					<hr class="h-5 xl:h-12 border-none">
					<p class="text-regular xs:text-center">
						We devise and create the future of insurance. For this, we design and
						develop ambitious products that bet on great ideas, iteration and
						constant improvement. We value effort and learning, which helps us to
						constantly surpass ourselves and encourages us to challenge ourselves
						more and more.
					</p>
				</section>
			</div>
			<hr class="h-32 xl:h-44 border-none">
		</article>

	</div>

	<article class="bg-[#F3F8FF]">
		<hr class="h-12 xl:h-24 border-none">
		<header class="container-padded">
			<h2 class="title-md">
				Working at Ensuro<span class="text-secondary-500">_</span>
			</h2>
			<hr class="h-5 xl:h-12 border-none">
		</header>
		<div class="w-[90vw] mx-auto">
			<hr class="w-full border-t border-gray-200 h-1">
			<hr class="h-5 xl:h-12 border-none">
		</div>
		<section class="container-padded">
			<p class="text-center text-big-blue col-span-4">
				<b>
					The hiring process behind Ensuro <br class="hidden md:block"> We are looking for talented and
					passionate people to help Ensuro achieve its mission. Our goal is to
					conduct an efficient yet thorough hiring process that allows us to get to
					know you beyond your resume and will enable you to ask us all the
					questions you might have about Ensuro.
				</b>
			</p>
			<hr class="h-12 xl:h-24 border-none">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-y-16 justify-between">
				<div class="flex w-full">
					<img class="ml-3" src="./assets/careers_learning.svg" style="height: 40px" alt="" />
					<p class="text-regular ml-3">Learning and development</p>
				</div>
				<div class="flex mx-auto w-full">
					<img class="ml-3" src="./assets/careers_competitive.svg" style="height: 40px" alt="" />
					<p class="text-regular ml-3">Competitive compensation</p>
				</div>
				<div class="flex justify-start w-full">
					<img class="ml-3" src="./assets/careers_flexible.svg" style="height: 40px" alt="" />
					<p class="text-regular ml-3">Flexible working hours</p>
				</div>
				<div class="flex w-full">
					<img class="ml-3" src="./assets/careers_remote.svg" style="height: 40px" alt="" />
					<p class="text-regular ml-3">Fully remote</p>
				</div>
				<div class="flex mx-auto w-full">
					<img class="ml-3" src="./assets/careers_international.svg" style="height: 40px" alt="" />
					<p class="text-regular ml-3">International and multicultural team</p>
				</div>
				<div class="flex justify-start w-full">
					<img class="ml-3" src="./assets/careers_equity.svg" style="height: 40px; width: 40px" alt="" />
					<p class="text-regular ml-3">Company Equity</p>
				</div>
			</div>
		</section>
		<hr class="h-8 xl:h-16 border-none">
		<hr class="h-8 xl:h-16 border-none">
		<hr class="w-[90vw] border-t border-[#C2E1E4] h-1 mx-auto" />
		<hr class="h-5 xl:h-12 border-none">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-9 container-padded">
			<section class="text-center mx-6">
				<b class="title-md uppercase">STAGE 01</b>
				<hr class="h-5 xl:h-12 border-none">
				<hr class="w-full border-t border-primary-500 h-1 mx-auto" />
				<hr class="h-2 border-none">
				<hr class="h-2 border-none">
				<h3 class="title-sm">Meet the Hiring Manager</h3>
				<hr class="h-2 border-none">
				<p>The first interview will be a video call of 30-45 min.</p>
			</section>
			<section class="text-center mx-6">
				<b class="title-md uppercase">STAGE 02</b>
				<hr class="h-5 xl:h-12 border-none">
				<hr class="w-full border-t border-primary-500 h-1 mx-auto" />
				<hr class="h-2 border-none">
				<hr class="h-2 border-none">
				<h3 class="title-sm">Ensuro challenge</h3>
				<hr class="h-2 border-none">
				<p>
					The second stage will be a meeting of about 60 minutes, where we will
					propose a task to be defined before the session for you to present it.
				</p>
			</section>
			<section class="text-center mx-6">
				<b class="title-md uppercase">STAGE 03</b>
				<hr class="h-5 xl:h-12 border-none">
				<hr class="w-full border-t border-primary-500 h-1 mx-auto" />
				<hr class="h-2 border-none">
				<hr class="h-2 border-none">
				<h3 class="title-sm">Fit interview</h3>
				<hr class="h-2 border-none">
				<p>
					The third stage is a 60-minute virtual meeting that will allow you to
					get to know Ensuro team members and founders. This conversation is an
					opportunity to get to know each other better and clarify any doubts
					either party may have.
				</p>
			</section>
		</div>

		<hr class="h-8 xl:h-16 border-none">
	</article>
 
	<article class="container-padded">
		<hr class="h-12 xl:h-24 border-none">
		<header>
			<h2 class="title-md-bright">
				Want To Work With Us?
			</h2>
			<hr class="h-8 xl:h-16 border-none">
		</header>
		<p class="text-regular">
			If you find the project exciting and you think you can contribute, contact
			us at <b class="text-regular-blue"> info@ensuro.co </b> and attach your cv.
		</p>
		<hr class="h-5 xl:h-12 border-none">
		<a href="contact" class="btn-primary-white">Contact us</a>
		<hr class="h-12 xl:h-24 border-none">
	</article>
{% endblock main_content %}
