{% extends "master.j2" %}
{% block title %}Ensuro | Contact Us{% endblock title %}
{% block main_content %}
		<article class="container-padded text-center">
			<hr class="h-12 xl:h-24 border-none">
			<b class="soft-subtitle">Contact Us</b>
			<hr class="h-5 xl:h-12 border-none">
			<h1 class="font-size-32 xs:font-size-22 breather-title-light mx-auto block">
				If you want to get in touch to find out more about us or need our help,
				please leave your comment and we will be happy to contact you<span
					class="text-secondary-500"
					>_</span
				>
			</h1>
			<div class=" card-form flex justify-center">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSceTJIEfWEQU5ADTiXjrg_U2s-8h3kw6JxxfmS4D7hY8bKG6Q/viewform?embedded=true" width="640" height="1100" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
			</div>
		</article>
        <hr class="h-12 xl:h-24 border-none">
{% endblock main_content %}
