{% extends "master.j2" %}
{% block title %}Ensuro | Contact Us{% endblock title %}
{% block main_content %}
		<article class="container-padded text-center">
			<hr class="h-12 xl:h-24 border-none">
			<b class="soft-subtitle">Contact Us</b>
			<hr class="h-8 xl:h-16 border-none">
			<h1 class="font-size-40 xs:font-size-26 breather-title-light mx-auto block">
				If you want to get in touch to find out more about us or need our help,
				please leave your comment and we will be happy to contact you<span
					class="text-secondary-500"
					>_</span
				>
			</h1>
			<hr class="h-12 xl:h-24 border-none">
			<form class="card-form">
				<div class="grid grid-cols-1 md:grid-cols-2 flex justify-between">
					<div class="text-left md:half-input">
						<label class="font-size-32 xs:font-size-22" for="name">Your Name</label>
						<hr class="font-size-32 xs:font-size-22 h-2 border-none">
						<hr class="font-size-32 xs:font-size-22 h-2 border-none">
						<input type="text" name="name" id="name" />
					</div>
					<div class="text-left md:half-input">
						<label class="font-size-32 xs:font-size-22" for="email">Your Email</label><br />
						<hr class="font-size-32 xs:font-size-22 h-2 border-none">
						<hr class="font-size-32 xs:font-size-22 h-2 border-none">
						<input type="text" name="email" id="email" />
					</div>
				</div>
				<hr class="h-5 xl:h-12 border-none">
				<div class="text-left">
					<label class="font-size-32 xs:font-size-22" for="subject">Subject</label>
					<hr class="h-2 border-none">
					<hr class="h-2 border-none">
					<select name="subject" id="subject" class="w-full">
						<option value="investors">Investors</option>
						<option value="careers">Careers</option>
						<option value="mga">MGA</option>
						<option value="feedback">Complaints/feedback</option>
					</select>
				</div>
				<hr class="h-5 xl:h-12 border-none">
				<div class="text-left">
                    <label class="font-size-32 xs:font-size-22" for="message">Message</label>
                    <hr class="h-2 border-none">
					<hr class="h-2 border-none">
					<textarea name="message" id="message" cols="30" rows="20" class="w-full"></textarea>
					<p class="only-mobile font-size-32 xs:font-size-22 text-alt">View our <a href="PrivacyPolicy.pdf" target="_blank" class="text-primary-500">Privacy Policy</a></p>
				</div>
                <hr class="h-8 xl:h-16 border-none">
                <div class="flex justify-between">
					<p class="only-desktop font-size-32 xs:font-size-22 text-alt">View our <a href="PrivacyPolicy.pdf" target="_blank" class="text-primary-500">Privacy Policy</a></p>
                    <button type="submit" class="font-size-20 xs:font-size-18 btn-submit">Submit</button>
                </div>
			</form>
		</article>
        <hr class="h-12 xl:h-24 border-none">
{% endblock main_content %}
