{% extends "master.j2" %}
      {% block main_content %}
      <!-- Hero Start  -->
      <div  class="hero-section" id="home">
         <div class="hero-section-image">
            <div class="custom-container">
               <div class="hero-inner d-flex justify-content-between align-items-center flex-wrap">
                  <div class="hero-data col-lg-6 col-md-12">
                     <h1 class="hero-top animated" data-animation="fadeInDownC" data-animation-delay="200">
                        decentralized<br>
                        <b>Capital for Insurance</b>
                     </h1>
                     <p class="hero-dis   animated" data-animation="fadeInDownC" data-animation-delay="300">Ensuro is the first decentralized, licensed (re)insurer on a public blockchain. We use smart contracts to curate competitive insurance portfolios. Our mission is to allow anyone to invest in insurance risk and reap its benefits. We fuel innovation for established and upcoming insurance partners by opening the insurance market to new players.</p>
                     <div class="d-flex mt-5 home-btn">
                        <a href="#get" class="btn-con page-scroll  animated" data-animation="fadeInDownC" data-animation-delay="400">Get Started</a>
                        <a href="#work" class="btn-con-border page-scroll   animated" data-animation="fadeInDownC" data-animation-delay="500">How It Works</a>
                     </div>
                  </div>
                  <div class="hero-img col-lg-6 col-md-12    animated" data-animation="fadeInDownC" data-animation-delay="200">
                     <img src="images/Illustration.svg" alt="Image" class="img-fluid"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Hero End  -->
      <!-- section start-->
      <div class="section" id="get">
         <div class="container">
            <!--Title -->
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="500">
               <h2 class="text-center">Ensuro brings the innovative DeFi Capital to the Insurtech World</h2>
            </div>
            <div class="icon-img d-flex justify-content-center    animated" data-animation="fadeInDownC" data-animation-delay="600">
               <img src="images/Icons.svg" alt="img" class="img-fluid i-big">
            </div>
            <div class="row mt-5">
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="700">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o1.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Risk Model Providers / MGAs</div>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12   animated" data-animation="fadeInDownC" data-animation-delay="800">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/line.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o2.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Ensuro Liquidity Pool</div>
                     <p>Permissionless Blockchain
                     </p>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="900">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/line.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o3.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Liquidity Providers</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- section end-->
      <!-- section start-->
      <div class="section" id="work">
         <div class="container">
            <!--Title -->
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">How It Works</h2>
            </div>
            <div class="icon-img d-flex justify-content-center   animated" data-animation="fadeInDownC" data-animation-delay="300">
               <img src="images/1.svg" alt="img" class="img-fluid i-big">
            </div>
            <div class="row mt-5">
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12   animated" data-animation="fadeInDownC" data-animation-delay="400">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o1.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Risk Model Providers/ MGAs</div>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="500">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/arrow1.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o2.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Ensuro Liquidity Pool</div>
                     <p>Permissionless Blockchain
                     </p>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="600">
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/arrow2.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="icon-img d-flex justify-content-center">
                     <img src="images/o3.png" alt="img" class="img-fluid i-s">
                  </div>
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Liquidity Providers</div>
                  </div>
               </div>
            </div>
            <p class="text-center mt-5    animated" data-animation="fadeInDownC" data-animation-delay="700">
               Ensuro collects capital from Liquidity Providers, both retail and institutional, through a Liquidity Pool governed by smart contracts. This capital, collected in the form of cryptographic stablecoins, provides underwriting capacity for Insurtech companies operating in the parametric insurance space.
            </p>
         </div>
      </div>
      <!-- section end-->
      <!-- section start-->
      <div class="section">
         <div class="container">
            <!--Title -->
            <div class="icon-img d-flex justify-content-center   animated" data-animation="fadeInDownC" data-animation-delay="800">
               <img src="images/2.svg" alt="img" class="img-fluid i-big">
               <div class="icon-img d-flex justify-content-center">
                  <img src="images/6.svg" alt="img" class="img-fluid i-s">
               </div>
            </div>
            <div class="row mt-5 i-big">
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="900">
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Risk Model Providers / MGAs</div>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="1000">
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Ensuro Liquidity Pool</div>
                     <p>Permissionless Blockchain
                     </p>
                  </div>
               </div>
               <!-- Item -->
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12    animated" data-animation="fadeInDownC" data-animation-delay="1100">
                  <div class="inner-box d-flex flex-wrap justify-content-center flex-column">
                     <div class="box-head">Liquidity Providers</div>
                  </div>
               </div>
            </div>
            <p class="text-center mt-5   animated" data-animation="fadeInDownC" data-animation-delay="1200">
             The capital collected in the Liquidity Pool is reinvested into Decentralized Finance Protocols such as AAVE and Compound. These protocols offer low risk due to overcollateralized loans, high liquidity, and greater returns on investment than traditional risk-free assets. Therefore, Ensuro can rely on instant redemption of funds and provide both a competitive capacity to Insurtech companies and additional returns to Liquidity Providers.
            </p>
         </div>
      </div>
      <!-- section end-->
      <!-- section start-->
      <div class="section">
         <div class="container">
            <!--Title -->
            <div class="icon-img d-flex justify-content-center    animated" data-animation="fadeInDownC" data-animation-delay="1200">
               <img src="images/3.svg" alt="img" class="img-fluid i-big">
            </div>
            <div class="icon-img d-flex justify-content-center    animated" data-animation="fadeInDownC" data-animation-delay="1200">
               <img src="images/5.svg" alt="img" class="img-fluid i-s">
            </div>
            <p class="text-center mt-5    animated" data-animation="fadeInDownC" data-animation-delay="1300">
             Ensuro leverages a Quality Assurance System to monitor the performance of each risk model, certifying that it fits the standard parameters defined during integration.
            </p>
         </div>
      </div>
      <!-- section end-->
      <div class="section">
         <div class="container">
            <!--Title -->
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="400">
               <h2 class="text-center">Latest News</h2>
            </div>
            <!--Blog-inner Start-->
            <div class="blog-inner">
               <div class="row ">
                  {% for newsItem in news %}
                  <div class="col-lg-4 col-md-12 blog-res   animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                            <a href="{{newsItem.link}}" target="_blank"class="img" style="background-image: url('{{newsItem.bigImage}}'); display: block"></a>
                        </div>
                     </div>
                     <div class="blog-pb">
                        <span class="color-3cc91d fw-600">{{newsItem.date}}</span>
                        <a href="{{newsItem.link}}" target="_blank">
                          <p>{{newsItem.title}}</p>
                        </a>
                        <a href="{{newsItem.link}}" class="btn-blog" target="_blank">
                          <img src="{{newsItem.mediaImage}}" alt="img" class="img-fluid">
                        </a>
                     </div>
                  </div>
                  {% endfor %}
               </div>
               <!--Row End-->
            </div>
            <!--Blog-inner Start-->
         </div>
         <!--Container End-->
      </div>
      {% endblock main_content %}
