{% extends "master.j2" %}
{% block title %}Ensuro | Investors{% endblock title %}
{% block main_content %}
		<article class="bg-gradient-to-br from-primary-800 to-[#0052d7]">
			<hr class="h-32 xl:h-44 border-none">
			<header class="flex items-center justify-center relative">
				<h1 class="breather-title-green m-16">Diversify your portfolio <br class="hidden md:block" />with insurance risks</h1>
				<img src="./assets/investor_logo.svg" alt="" />
                <img src="./assets/investor_bright.png" alt="" class="absolute-center">
			</header>
			<hr class="h-32 xl:h-44 border-none">
			<div class="grid grid-cols-8 container-padded items-end">
				<p class="text-big-white col-span-6">
					We offer a variety of risks that are mostly uncorrelated with the
					crypto and the equity market.<br>
					<b>
						We allow Liquidity Providers to access insurance as an asset class
						and achieve sustainable returns while maintaining full transparency
						on the performance of the insurance/protection products.
					</b>
				</p>
                <div class="col-span-2 relative z-10 text-right">
                    <a href="#" class="btn-alt-primary uppercase bg-[#004bc8]">Watch video</a>
                </div>
                <hr class="h-32 xl:h-44 border-none">
			</div>
		</article>
        <hr class="h-2 border-none">
{% endblock main_content %}
