<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="assets/css/responsive.css">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;600&display=swap" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       	<title>{% block title %}Ensuro{% endblock title %}</title>

		<!-- Mixpanel sdk -->
		<script type="text/javascript">
			(function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
			for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
			MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
			
			// Enabling the debug mode flag is useful during implementation,
			// but it's recommended you remove it for production
			mixpanel.init('885f634b9cc055e633dfb768313a0b7f', {debug: true}); 
			mixpanel.track('Ensuro website');
		</script>
    </head>
	<body>
        <header class="w-full bg-white p-6 relative z-20">
			<nav class="navbar navbar-expand-lg navbar-light flex justify-between container-padded">
				<div class="container-fluid">
					<a href="index.html">
						<img src="./assets/logo_header.svg" alt="" />
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="flex items-center px-3 py-2">
							<img src="./assets/header_menu.svg" alt="" />
						</span>
					</button>
					<div class="nav-header collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto ">
							<li class="nav-item"><a href="index.html" class="hide-on-header">Home</a></li>
							<li class="nav-item"><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
							<li class="nav-item"><a href="investors.html">Investors</a></li>
							<li class="nav-item"><a href="about.html">About Ensuro</a></li>
							<li class="nav-item"><a href="careers.html">Careers</a></li>
							<li class="nav-item"><a href="contact.html" class="hide-on-footer">Contact us</a></li>
							<li class="nav-item"><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
						</ul>
						<a href="https://app-v2.ensuro.co" target="_blank" class="btn-secondary nav-item">Use app</a>

					</div>
				</div>
			</nav>
		</header>

		<!-- MODULES -->
		{% block main_content %}
		{% endblock main_content %}
		<footer class="bg-gradient-to-b from-primary-800 to-primary-500 py-20">
			<div class="grid grid-cols-1 md:grid-cols-5 xs:text-center container-padded relative z-10 gap-8">
				<section class="col-span-1 xs:col-span-2 ">
					<img src="./assets/ensuro_white.svg" alt="" />
					<hr class="h-8 xl:h-16 border-none">
					<nav class="only-desktop nav-footer">
						<ul>
							<li><a href="index.html" class="hide-on-header">Home</a></li>
							<li><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
							<li><a href="investors.html">Investors</a></li>
							<li><a href="about.html">About Ensuro</a></li>
							<li><a href="careers.html">Careers</a></li>
							<li><a href="contact.html" class="hide-on-footer">Contact us</a></li>
							<li><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
							<li><a href="https://drive.google.com/drive/folders/1tgXHsadLSiTjz6SjmmlktoBaqU7c3IgR?usp=sharing" class="hide-on-header" target="_blank">Press Kit</a></li>
							<li><a href="Ensuro_ToS.pdf" class="hide-on-header" target="_blank">Terms of Service</a></li>
						</ul>
					</nav>
				</section>
				<section class="col-span-2 flex items-start justify-center">
					<div class="mx-auto">
						<h2 class="title-footer">Want To Learn More?</h2>
						<a href="Ensuro_whitepaper.pdf" class="btn-alt-primary bg-[#013498]" target="_blank">WHITEPAPER</a>
						<hr class="h-8 xl:h-16 border-none">
						<h2 class="title-footer">
							Are You an MGA Looking <br class="hidden md:block" />For Capacity?
						</h2>
						<a href="contact.html" class="btn-alt-primary uppercase bg-[#0046bd]">Contact us</a>
					</div>
				</section>
				<section class="col-span-2">
					<h2 class="title-footer">Reach Out To Us</h2>
					<hr class="only-desktop h-2 border-none">
					<p class="text-regular-white xs:text-left">
						For any inquiries or partnership requests, please contact us via our
						social media channels.
					</p>
					<br class="only-mobile">
					<hr class="h-5 xl:h-12 border-none">
					<div class="flex">
						<a href="https://twitter.com/Ensuroproject" target="_blank" class="mr-6 hover:opacity-80 transition-all">
							<img src="./assets/twitter.svg" alt="" />
						</a>
						<a href="https://www.linkedin.com/company/ensuro/mycompany/" target="_blank" class="mr-6 hover:opacity-80 transition-all">
							<img src="./assets/linkdin.svg" alt="" />
						</a>
						<a href="https://github.com/ensuro" target="_blank" class="mr-6 hover:opacity-80 transition-all">
							<img src="./assets/github.svg" alt="" />
						</a>
						<a href="https://t.me/ensuroproject" target="_blank" class="mr-6 hover:opacity-80 transition-all">
							<img src="./assets/telegram.svg" alt="" />
						</a>
						<a href="https://discord.gg/sePJF7RRZC" target="_blank" class="mr-6 hover:opacity-80 transition-all">
							<img src="./assets/discord.svg" alt="" />
						</a>
						<a href="https://blog.ensuro.co/" target="_blank" class="hover:opacity-80 transition-all">
							<img src="./assets/medium.svg" alt="" />
						</a>
					</div>
					<hr class="h-5 xl:h-12 border-none">
					<br class="only-mobile" >
					<nav class="only-mobile nav-footer">
						<ul>
							<li><a href="index.html" class="hide-on-header">Home</a></li>
							<li><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
							<li><a href="investors.html">Investors</a></li>
							<li><a href="about.html">About Ensuro</a></li>
							<li><a href="careers.html">Careers</a></li>
							<li><a href="contact.html" class="hide-on-footer">Contact us</a></li>
							<li><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
							<li><a href="https://drive.google.com/drive/folders/1tgXHsadLSiTjz6SjmmlktoBaqU7c3IgR?usp=sharing" class="hide-on-header" target="_blank">Press Kit</a></li>
							<li><a href="Ensuro_ToS.pdf" class="hide-on-header" target="_blank">Terms of Service</a></li>
						</ul>
					</nav>
				</section>
			</div>
			<hr class="h-5 xl:h-12 border-none">
			<div class="only-mobile">
				<p class="text-white container-padded relative">*Ensuro is licensed to conduct digital asset business by the Bermuda Monetary Authority</p>
			</div>
			<hr class="h-5 xl:h-12 border-none">
			<small class="flex flex-row justify-between container-padded">
				<span class="text-light text-white">Ⓒ 2023 Ensuro</span>
				<div class="only-desktop">
					<span class="text-white text-light">*Ensuro is licensed to conduct digital asset business by the Bermuda Monetary Authority</span>
				</div>
			</small>
		</footer>

		<!-- SCRIPTS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>
