<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Ensuro is building a decentralized capital provider for insurance risk. We use smart contracts to curate competitive insurance portfolios. We allow anyone to invest in insurance risk and reap its benefits. By opening up the insurance market to new players, we fuel innovation for established and upcoming insurance partners.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Blockchain,DeFi,Insurance,Insurtech,Smart Contracts,Finance,Decentralized finance">
    <link rel="icon" href="images/ensuro-icon-64px.png"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;600&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}Ensuro{% endblock title %}</title>

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3X83GRW203"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3X83GRW203');
    </script>

    <script>
      window.intercomSettings = {
        api_base: "https://api-iam.intercom.io",
        app_id: "ee088pqv"
      };
    </script>

    <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/ee088pqv'
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ee088pqv';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
  </head>
  <body>
    <header class="w-full bg-white p-3 relative z-20">
      <nav class="navbar navbar-expand-lg navbar-light flex justify-between container-padded">
        <div class="container-fluid">
          <a href="index.html">
            <img class="only-desktop" src="./assets/logo_header.svg" alt="" />
            <img class="only-mobile" src="./assets/logo_header.svg" alt="" />
          </a>
          <div >
          <a href="https://app.ensuro.co" target="_blank" class="btn-secondary nav-item only-mobile">App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="flex items-center px-3 py-2">
              <img src="./assets/header_menu.svg" alt="" />
            </span>
          </button>
          </div>
          <div class="nav-header collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto aligned">
              <li class="nav-item font-size-18 xl:font-size-22"><a href="index.html" class="hide-on-header">Home</a></li>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="investors.html">Investors</a></li>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="about.html">About Ensuro</a></li>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="careers.html">Careers</a></li>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="contact.html" class="hide-on-footer">Contact us</a></li>
              <button class="btn-bounty xl:font-size-20 flex" style="margin: 10px" onclick=" window.open('https://immunefi.com/bounty/ensuro/','_blank')">
                Bug bounty
                <svg width="30" height="18" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.50824 11.1287L14.5718 19.337L22.5493 11.2163L29.0902 17.8746L21.4906 25.6106L19.5355 23.6735L25.2322 17.8746L22.5493 15.1435L14.5718 23.2642L6.50824 15.0559L3.85799 17.7537L9.64133 23.6409L7.68629 25.578L0 17.7537L6.50824 11.1287Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.582 15.0557L14.5184 6.8474L6.54091 14.9681L2.28882e-05 8.3098L7.59967 0.573738L9.55471 2.51084L3.85801 8.3098L6.54091 11.0409L14.5184 2.92017L22.582 11.1285L25.2322 8.43066L19.4489 2.5435L21.4039 0.606395L29.0902 8.43066L22.582 15.0557Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3147 25.4178L13.3147 20.2463H15.9479L15.9479 25.4178H13.3147Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3147 5.93817L13.3147 0.766613L15.9479 0.766613L15.9479 5.93817L13.3147 5.93817Z" fill="white"/></svg>
              </button>
              <li class="nav-item font-size-18 xl:font-size-22"><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
            </ul>
            <a href="https://app.ensuro.co" target="_blank" class="btn-secondary nav-item only-desktop xl:font-size-20 ml-auto">Use App</a>
          </div>
        </div>
      </nav>
    </header>
    <img src="./assets/gradient-line.png" alt="" class="header-line" />

    <!-- MODULES -->
    {% block main_content %}
    {% endblock main_content %}
    <footer class="bg-gradient-to-b from-primary-800 to-primary-500 py-20">
      <div class="grid grid-cols-1 md:grid-cols-5 xs:text-center container-padded relative z-10 gap-8">
        <section class="col-span-1 xs:col-span-2 ">
          <img src="./assets/ensuro_white.svg" alt="" />
          <hr class="h-8 xl:h-16 border-none">
          <nav class="only-desktop nav-footer">
            <ul>
              <li><a href="index.html" class="hide-on-header">Home</a></li>
              <li><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
              <li><a href="investors.html">Investors</a></li>
              <li><a href="about.html">About Ensuro</a></li>
              <li><a href="careers.html">Careers</a></li>
              <li><a href="https://immunefi.com/bounty/ensuro/" class="hide-on-header" target="_blank">Bug Bounty</a></li>
              <li><a href="contact.html" class="hide-on-footer">Contact us</a></li>
              <li><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
              <li><a href="https://drive.google.com/drive/folders/1tgXHsadLSiTjz6SjmmlktoBaqU7c3IgR?usp=sharing" class="hide-on-header" target="_blank">Press Kit</a></li>
              <li><a href="Ensuro_ToS.pdf" class="hide-on-header" target="_blank">Terms of Service</a></li>
              <li><a href="Ensuro_AML_ATF_PolicyStatement.pdf" class="hide-on-header" target="_blank">Ensuro AML & ATF Policy Statement</a></li>
            </ul>
          </nav>
        </section>
        <section class="col-span-2 flex items-start justify-center">
          <div class="mx-auto">
            <h2 class="title-footer">Want To Learn More?</h2>
            <a href="Ensuro_whitepaper.pdf" class="btn-alt-primary bg-[#013498]" target="_blank">WHITEPAPER</a>
            <hr class="h-8 xl:h-16 border-none">
            <h2 class="title-footer">
              Are You an MGA Looking <br class="hidden md:block" />For Capacity?
            </h2>
            <a href="contact.html" class="btn-alt-primary uppercase bg-[#0046bd]">Contact us</a>
          </div>
        </section>
        <section class="col-span-2">
          <h2 class="title-footer">Reach Out To Us</h2>
          <hr class="only-desktop h-2 border-none">
          <p class="text-regular-white xs:text-left">
            For any inquiries or partnership requests, please contact us via our
            social media channels.
          </p>
          <br class="only-mobile">
          <hr class="h-5 xl:h-12 border-none">
          <div class="flex">
            <a href="https://twitter.com/Ensuroproject" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/twitter.svg" alt="" />
            </a>
            <a href="https://www.linkedin.com/company/ensuro" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/linkdin.svg" alt="" />
            </a>
            <a href="https://github.com/ensuro" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/github.svg" alt="" />
            </a>
            <a href="https://t.me/ensuroproject" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/telegram.svg" alt="" />
            </a>
            <a href="https://discord.gg/sePJF7RRZC" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/discord.svg" alt="" />
            </a>
            <a href="https://www.youtube.com/@Ensuro-co" target="_blank" class="mr-6 hover:opacity-80 transition-all">
              <img src="./assets/youtube.png" alt="" style="width: 40px" />
            </a>
            <a href="https://blog.ensuro.co/" target="_blank" class="hover:opacity-80 transition-all">
              <img src="./assets/medium.svg" alt="" />
            </a>
          </div>
          <hr class="h-5 xl:h-12 border-none">
          <br class="only-mobile" >
          <nav class="only-mobile nav-footer">
            <ul>
              <li><a href="index.html" class="hide-on-header">Home</a></li>
              <li><a href="https://docs.ensuro.co/" target="_blank">Docs</a></li>
              <li><a href="investors.html">Investors</a></li>
              <li><a href="about.html">About Ensuro</a></li>
              <li><a href="careers.html">Careers</a></li>
              <li><a href="https://immunefi.com/bounty/ensuro/" class="hide-on-header" target="_blank">Bug Bounty</a></li>
              <li><a href="contact.html" class="hide-on-footer">Contact us</a></li>
              <li><a href="PrivacyPolicy.pdf" class="hide-on-header" target="_blank">Privacy Policy</a></li>
              <li><a href="https://drive.google.com/drive/folders/1tgXHsadLSiTjz6SjmmlktoBaqU7c3IgR?usp=sharing" class="hide-on-header" target="_blank">Press Kit</a></li>
              <li><a href="Ensuro_ToS.pdf" class="hide-on-header" target="_blank">Terms of Service</a></li>
              <li><a href="Ensuro_AML_ATF_PolicyStatement.pdf" class="hide-on-header" target="_blank">Ensuro AML & ATF Policy Statement</a></li>
            </ul>
          </nav>
        </section>
      </div>
      <hr class="h-5 xl:h-12 border-none">
      <div class="only-mobile">
        <p class="text-white container-padded relative">*Ensuro is licensed to conduct digital asset business by the Bermuda Monetary Authority</p>
      </div>
      <hr class="h-5 xl:h-12 border-none">
      <small class="flex flex-row justify-between container-padded">
        <span class="text-light text-white">Ⓒ 2024 Ensuro</span>
        <div class="only-desktop">
          <span class="text-white text-light">*Ensuro is licensed to conduct digital asset business by the Bermuda Monetary Authority</span>
        </div>
      </small>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script  src="assets/js/jquery.easing.min.js"></script>
  </body>
</html>
