{% extends "master.j2" %}
      {% block main_content %}
      <!-- Hero Start  -->
      <div  class="hero-section half-section">
         <div class="hero-section-image">
            <div class="container">
               <div class="hero-inner d-flex justify-content-between align-items-center flex-wrap">
                  <div class="hero-data col-lg-12 col-md-12     animated" data-animation="fadeInDownC" data-animation-delay="200">
                     <h1 class="hero-top">
                        Know More
                        <br>
                        <b>About Ensuro</b>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- section start-->
      <div class="section" id="purpose">
         <div class="container">
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">Our Purpose</h2>
            </div>
            <div class="col-lg-12 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="300">
               <div class="blog-pb2">
                  <p class="text-center    animated" style="font-size: 22px" data-animation="fadeInDownC" data-animation-delay="700">
                     Democratize insurance and facilitate insurance innovation.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="section" id="vision">
         <div class="container">
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">Our Vision</h2>
            </div>
            <div class="col-lg-12 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="300">
               <div class="blog-pb2">
                  <p class="text-center   animated" style="font-size: 22px" data-animation="fadeInDownC" data-animation-delay="700">
                     Our vision is to create a simple entry point to insurance investment for individual investors and a more efficient alternative to traditional (re)insurance companies for risk takers seeking capacity. 
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="section" id="mission">
         <div class="container">
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">Our Mission</h2>
            </div>
            <div class="col-lg-12 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="300">
               <div class="blog-pb2">
                  <p class="text-center    animated" style="font-size: 22px" data-animation="fadeInDownC" data-animation-delay="700">
                     Our mission is to make insurance more accessible to the general public. We will do this by 
                        (1) using innovative technology to provide the opportunity for anyone to invest in insurance risk and benefit from its lucrative returns and 
                        (2) partnering with risk-takers and not-for-profit entities to provide insurance capacity in a more innovative and efficient manner.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="section" id="values">
         <div class="container">
            <div class="sec-title    animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">Our Values</h2>
            </div>

            <!--Blog-inner Start-->
            <div class="blog-inner">
               <div class="row ">
                  <div class="col-lg-6 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="300">
                     <div class="blog-pb1">
                        <h2>We always listen</h2>
                        <p>We strive to exercise empathy to understand and approach the desires, needs, difficulties and work of those who trust in our proposal. We know that listening is the essential basis for achieving relevance.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="400">
                     <div class="blog-pb1">
                        <h2>No one is left out</h2>
                        <p>We are based on merits and achievements and give everyone equal opportunities.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 blog-res    animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="blog-pb1">
                        <h2>Creative DNA has no hierarchies.</h2>
                        <p>We believe in the power of each person to do great things. We know that the best ideas come from the synergy achieved through teamwork. We promote and create spaces for the individual development of each person we work with.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="600">
                     <div class="blog-pb1">
                        <h2>We  dream and we create</h2>
                        <p>We devise and create the future of insurance. For this, we design and develop ambitious products that bet on great ideas, iteration and constant improvement. We value effort and learning, which helps us to constantly surpass ourselves and encourages us to challenge ourselves more and more.</p>
                     </div>
                  </div>
               </div>
               <!--Row End-->
            </div>
            <!--Blog-inner Start-->

         </div>
      </div>
      <!-- section end-->
      <!--Hero End  -->
      <div class="section">
         <div class="container">
            <!--Title -->
            <div class="sec-title      animated" data-animation="fadeInDownC" data-animation-delay="200">
               <h2 class="text-center">Meet Ensuro’s Team</h2>
            </div>
            <!--Blog-inner Start-->
            <div class="blog-inner">
               <div class="row ">
                  <div class="col-lg-3 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="300">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/marco-mirabella/" target="_blank" class="img img1" style="display: block; background-image: url('images/Marco-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Chief Executive Officer </span>
                        <h2>Marco Mirabella</h2>
                        <p style="height: 270px">He was the CSO for BigGo, the biggest price comparison in SEA. Before that he founded a blockchain company called Cartesi and worked as investment analyst for SOSV.</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="400">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/guillermonarvaja/" target="_blank" class="img img1" style="display: block; background-image: url('images/Guillo-BW.png');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Chief Technology Officer</span>
                        <h2>Guillermo Narvaja</h2>
                        <p style="height: 270px">He has over 20 years of experience developing software. He was the founder and CEO of two cash flow positive startups: Fierro and Radiocut, where he developed the entire solutions stack.</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res    animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/gian-giacomo-della-torre-575b02114/" target="_blank" class="img img1" style="display: block; background-image: url('images/Giacomo-BW.png');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Chief Risk Officer</span>
                        <h2>Gian Giacomo della Torre</h2>
                        <p style="height: 270px">Lead Data Scientist at FNA. Previously: Quantitative Risk Analyst for the Non-Retail Credit Risk modeling team of ABN AMRO Bank, and Data Analyst at Booking.com. Background in Physics.</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="600">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/luca-mungo-a26278103/" target="_blank" class="img img1" style="display: block; background-image: url('images/Luca-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Chief Scientific Officer </span>
                        <h2>Luca Mungo</h2>
                        <p style="height: 270px">Ph.D. candidate in Mathematics at the University of Oxford. He was an Associate at the Boston Consulting Group, where he focused on data-science projects in the retail industry.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="300">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/colin-mcqueen-55454b13/" target="_blank" class="img img1" style="display: block; background-image: url('images/Colin-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Chief Financial Officer </span>
                        <h2>Colin McQueen</h2>
                        <p style="height: 400px">Colin is a finance professional who has been working in international re/insurance markets for over 30 years in various senior roles. His previous employers include Marsh, XL Re, Equator Re and Markel Latin America where he served as CFO.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="400">
                     <div class="img-box">
                        <div class="img-box-inner">
                          <a href="https://www.linkedin.com/in/jaliah-nassanga-cfe-cams-460b7571/" target="_blank" class="img img1" style="display: block; background-image: url('images/Jaliah-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Money Laundering Reporting Officer</span>
                        <h2>Jaliah Nassanga</h2>
                        <p style="height: 400px">Jaliah is a Certified Anti-Money Laundering Specialist and Fraud Examiner with over 10 years’ of Banking industry experience where she served in different roles. Previously a Compliance Officer for an East African Regional Tier 1 Commercial Bank where she had oversight for the Bank’s Compliance and AML/CFT Risk Management Program.</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/jinxi-liu-71284817/" target="_blank" class="img img1" style="display: block; background-image: url('images/Jinxi-BW.jpg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Actuary</span>
                        <h2>Jinxi Liu</h2>
                        <p style="height: 400px">Jinxi is an FIA qualified actuary with over 8 years of experience spanning across reserving, risk and pricing. She started at Deloitte Ireland as an actuarial consultant. After that she worked for UnipolRe where she provided actuarial technical pricing on reinsurance treaties and assisted the CRO in the production of Solvency II ORSA and SCR reporting.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/mariodavidtabares/" target="_blank" class="img img1" style="display: block; background-image: url('images/Mario-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Operations Manager</span>
                        <h2>Mario David Tabares</h2>
                        <p style="height: 450px">Mario is a professional specialized in operations. He is a certified lawyer, a specialist in Human Resources, and has a Master's degree in Management and Development of organizations and another in Data Analytics. He has experience working in the operations departments of non-governmental, public, and private organizations in Argentina, Germany, Norway, and Sweden.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/gnpar/" target="_blank" class="img img1" style="display: block; background-image: url('images/Gabriel-BW.jpg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Software Developer</span>
                        <h2>Gabriel Parrondo</h2>
                        <p style="height: 400px">Gabriel is a software developer with a strong background in infrastructure. He has over 10 years of experience in the IT sector during which he's worked as a sysadmin, network engineer, security analyst and full stack developer.</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res     animated" data-animation="fadeInDownC" data-animation-delay="500">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/ndelatorre-/" target="_blank" class="img img1" style="display: block; background-image: url('images/Nicolas-BW.jpg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Software Developer</span>
                        <h2>Nicolás de la Torre</h2>
                        <p style="height: 400px">Advanced student of Software Engineering at Technological Institute of Buenos Aires (ITBA). Nicolás has over four years of experience developing software. He has a professional command of Java, Python, NodeJS, React, VueJS, AWS, and databases such as PostgreSQL and MongoDB.</p>
                     </div>
                  </div>
               </div>
               <!--Row End-->
            </div>
            <!--Blog-inner Start-->
         </div>
      </div>
      <div class="section-bottom">
         <div class="container">
            <!--Title -->
            <div class="sec-title       animated" data-animation="fadeInDownC" data-animation-delay="700">
               <h2 class="text-center">Meet Our Advisors</h2>
            </div>
            <!--Blog-inner Start-->
            <div class="blog-inner">
               <div class="row ">
                  <div class="col-lg-3 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="800">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/dcamas" target="_blank" class="img img1" style="display: block; background-image: url('images/DarrenCamas-BW.jpg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Advisor</span>
                        <h2>Darren Camas</h2>
                        <p style="height: 450px">Darren Camas has been involved with crypto &amp; blockchain since 2011 advising, building, and investing in multiple projects. Currently he is CEO of IPOR Labs. He is also Co-founder of FoolFarm, the first AI venture builder in Europe.<br/>
Previously he served as an advisor for the Cardano (ADA) blockchain.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="800">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/christopher-lowell/" target="_blank" class="img img1" style="display: block; background-image: url('images/ChristopherLowell-BW.jpeg');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Advisor</span>
                        <h2>Christopher Lowell</h2>
                        <p style="height: 450px">Former Head of Innovation at The Hartford and Managing Director of Corporate Strategy at Liberty. Founding member of the RiskBlock Alliance (now RiskStream Collaborative) - the leading insurance industry consortium focused on blockchain and DLT.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="900">
                     <div class="img-box">
                        <div class="img-box-inner">
                           <a href="https://www.linkedin.com/in/garrettkoehn/" target="_blank" class="img img1" style="display: block; background-image: url('images/GarretKoehn-BW.png');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Advisor</span>
                        <h2>Garrett Koehn</h2>
                        <p style="height: 500px">Garrett is the co-President of Brokerage for CRC Group, one of the largest wholesale insurance brokers in the world.
He has 25+ years of complex commercial insurance experience with 20+ years’ experience in a senior executive position.
As an active startup advisor and angel investor in the fintech and insurtech space, he's a former Managing Partner at The Batchery incubator in Berkeley and remains a partner.
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-12 blog-res      animated" data-animation="fadeInDownC" data-animation-delay="1000">
                     <div class="img-box">
                        <div class="img-box-inner">
                          <a href="https://www.linkedin.com/in/joe-monk-81551318/" target="_blank" class="img img1" style="display: block; background-image: url('images/JoeMonk-BW.png');"></a>
                        </div>
                     </div>
                     <div class="blog-pb1">
                        <span class="color-3cc91d fw-600">Actuarial Consultant</span>
                        <h2>Joe Monk</h2>
                        <p style="height: 700px">Joe Monk is a freelance consultant having qualified as a Fellow of the Institute of Actuaries in 1999. He started his career in 1995 at Lane Clark &amp; Peacock, a London-based actuarial consultancy, progressing to be a senior partner and practice head. In 2010 he moved in-house, joining Alterra (previously Max Capital) as Global Chief Actuary. After Alterra’s sale to Markel in 2013 he joined Pioneer Underwriters as Chief Actuary, before setting up as an independent consultant in 2018. Joe holds an MA in Economics from Cambridge University.
                        </p>
                     </div>
                  </div>
               </div>
               <!--Row End-->
            </div>
            <!--Blog-inner Start-->
         </div>
      </div>
      {% endblock main_content %}
